.colored
{
    background-color: rgb(43, 8, 100);
}
#title
{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}
.list
{
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
}
#button 
{
    margin: auto;
}
#title {
    border-radius: 15px;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
    background: linear-gradient(to bottom right, #008cff,#e100ff); /* Gradient colors */
    background-clip: text; /* Clip the gradient to the text */
    color: transparent;
    /* Apply the gradient border */
    border: 5px solid;
    border-image: linear-gradient(to bottom right, #008cff,#e100ff);
    border-image-slice: 1;
  }
#citylist li{
    color: black;    
}
#picture
{
    max-height: 120px;
}
