.colored
{
    background-color: rgb(43, 8, 100);
}
#title
{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}
#list
{
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
}
#button 
{
    margin: auto;
}